body {
  max-width: 60%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: hsl(200, 6%, 10%);
  color: hsl(60, 4%, 95%);
  margin: 2rem auto;
}

img {
  width: 600px;
  height: auto;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px hsl(200, 6%, 6%);
  display: flex;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

a {
  color: hsl(33, 45%, 57%);
  font-size: 1.5rem;
  font-weight: 700;
}

li, p {
  color: hsl(60, 4%, 85%);
}